  p {
    color:#bca061;
    text-align:center;
    font-size:50px;
    margin-top:200px;
    font-style:italic;
 }
  body {
    background-image:url("imagens/Josaphat.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position:center;
  }
.gamecub {
  font-size:50px;
  margin-top:330px;
  margin-bottom:50px;
  text-align:center;
}
.destruidor {
  text-align:center;
  margin-top:200px;
}
.bol {
  margin-top:-300px;
}



